*.iml
*.log
*.log.*
.idea
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.pyc
*.pyo
node_modules
.cache
*.css
build
dist
lib
es
coverage
*.jsx
*.map
!tests/index.js
!/index*.js
/ios/
/android/
yarn.lock
package-lock.json
pnpm-lock.yaml
.storybook
.doc

# umi
.umi
.umi-production
.umi-test
.env.local


# dumi
.dumi/tmp
.dumi/tmp-production

bun.lockb
